{% extends "base.html" %}

{% block head_title %} Pricing - {{ block.super }} {% endblock head_title%}

{% block content %}

<style>
    .bg-radial-gradient {
        background: radial-gradient(circle at center, #2A2D5D, black);
        background-size: cover;
        background-attachment: fixed;
    }
    .hover-card:hover {
        transform: translateY(-10px);
        transition: transform 0.3s ease-in-out;
    }
    .hover-card {
        transition: transform 0.3s ease-in-out;
    }
    .hr-line {
        border: 0;
        height: 10px;
        background: #7784be;
        flex-grow: 1;
        margin: 0 1rem;
    }
    .pricing-heading {
        color: #c5a7ff;
    }
</style>

<section class="bg-transparent bg-radial-gradient">
    <div class="py-12 px-6 mx-auto max-w-screen-xl lg:py-20 lg:px-8">
        <div class="mx-auto max-w-screen-md text-center mb-1 lg:mb-16">
            <div class="flex items-center justify-center mb-7 mt-10">
                <hr class="hr-line rounded">
                <h2 class="text-5xl font-extrabold tracking-tight pricing-heading">Pricing</h2>
                <hr class="hr-line rounded">
            </div>
            <div class="flex justify-center space-x-4">
                <ul class="flex flex-wrap text-sm font-medium text-center">
                    <li class="me-2">
                        <a href="{{ wk_url }}" class="{% if active == 'week' %} inline-block px-5 py-3 text-white bg-blue-600 rounded-full shadow-md active{% else %}inline-block px-5 py-3 text-gray-300 bg-transparent border border-gray-400 rounded-full hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-800 dark:hover:text-white{% endif %}">
                            Weekly
                        </a>
                    </li>
                    <li class="me-2">
                        <a href="{{ mo_url }}" class="{% if active == 'month' %}inline-block px-5 py-3 text-white bg-blue-600 rounded-full shadow-md active{% else %}inline-block px-5 py-3 text-gray-300 bg-transparent border border-gray-400 rounded-full hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-800 dark:hover:text-white{% endif %}">
                            Monthly
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-wrap justify-center md:space-y-0 lg:space-x-8 mr-3">
            <!-- Pricing Card -->
            {% for price_obj in object_list %}
                <div>
                    {% include 'subscriptions/snippets/pricing-card.html' with object=price_obj %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
