{% extends "base.html" %}

{% block head_title %} Your Subscription - {{ block.super }} {% endblock head_title %}

{% block content %}
<h1 class="text-lg font-medium">Your Subscription</h1>

<form action="" method="POST" class="mt-2"> {% csrf_token %}
    <button type="submit">Refresh</button>
</form>

{% if subscription %}
    <a href="{{ subscription.get_cancel_url }}">Cancel Membership</a>
{% endif %}

<p>Your Email: {{ user.email }}</p>

<p>Plan name: 
    {% if subscription %}
        {{ subscription.plan_name }}
    {% else %}
        No Plan
    {% endif %}
</p>

<p>Status: 
    {% if subscription %}
        {% if subscription.cancel_at_period_end %}
            Your subscription is CANCELLED, you will lose access to all premium features on {{ subscription.current_period_end|date:"F j, Y" }}.
        {% else %}
            {% if subscription.current_period_end == None %}
                You have not purchased any subscriptions!
            {% else %} 
                Your subscription is ACTIVE, you will be billed at {{ subscription.current_period_end|date:"F j, Y" }}.
            {% endif %}
        {% endif %}
    {% else %}
        You have not started any subscriptions!
    {% endif %}
</p>

<p>Membership Age: 
    {% if subscription and subscription.original_period_start != None %}
        {{ subscription.original_period_start|timesince }}
    {% else %}
        -
    {% endif %}
</p>

<p>Start date: 
    {% if subscription and subscription.current_period_start != None %}
        {{ subscription.current_period_start|date:"F j, Y" }}
    {% else %}
        You have not started any subscriptions!
    {% endif %}
</p>

<p>End date: 
    {% if subscription and subscription.current_period_end != None %}
        {{ subscription.current_period_end|date:"F j, Y" }}
    {% else %}
        You have not started any subscriptions!
    {% endif %}
</p>

{% endblock content %}

{% block extra_css %}
<!-- Tailwind CSS handles responsive design automatically -->
{% endblock extra_css %}
