<!-- auto-ad.html -->
{% extends "dashboard/base.html" %}

{% block head_title %} Auto Ad - {{ block.super }} {% endblock head_title %}

{% block content %}

<div class="pt-5">
    <p class="text-blue-500">Auto Ad</p>
    
    <form method="post" novalidate class="text-blue-500">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary text-blue-500">Send</button>
    </form>

    <form method="post" novalidate class="mt-3 text-blue-500">
        {% csrf_token %}
        {{ stop_form.as_p }}
        <button type="submit" class="btn btn-danger text-blue-500">Stop Bot</button>
    </form>
</div>

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}

{% endblock content %}
