{% load static compress %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
{% compress css %}
<link rel="stylesheet" href="{% static 'css/output.css' %}">
{% endcompress %}
<style>
    :root {
            --color-primary: #2d4b50;
            --color-secondary: #359271;
            --color-accent: #bce4d6;
    }

    .bg-radial-gradient {
            background: radial-gradient(circle, var(--color-primary), black);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
</style>
