{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Messages container close functionality
        var closeButton = document.getElementById('close-banner');
        if (closeButton) {
            closeButton.addEventListener('click', function() {
                var messagesContainer = document.getElementById('messages-container');
                if (messagesContainer) {
                    messagesContainer.style.display = 'none';
                }
            });
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>