{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}DiscAuto{% endblock head_title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'icon/website-logo.png' %}">
    
    <!-- Flowbite CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    
    <!-- Custom CSS -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endcompress %}
    {% include 'base/css.html' %}
</head>

<body class="bg-radial-gradient">
    {% include 'nav/navbar.html' %}

    {% include 'snippets/banner.html' %}
    
    <div>
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Flowbite JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    
    <!-- Custom JS -->
    {% include 'base/js.html' %}
</body>

</html>
