{% extends "dashboard/base.html" %}
{% block head_title %}Edit One-Time Product{% endblock head_title %}
{% block content %}
<div class="pt-10 px-4 md:px-0 text-center relative">
    <a href="{% url 'products' %}" class="absolute top-0 left-0 mt-6 ml-6 bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-md shadow-md transition duration-300">
        ← Back
    </a>
    <h1 class="text-4xl font-extrabold text-white">Edit One-Time Use Product</h1>
    <div class="mt-10 max-w-lg mx-auto">
        <form method="post" class="bg-white p-8 rounded-xl shadow-lg space-y-6">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="text-left space-y-6">
                <div>
                    {{ form.title.errors }} 
                    <label class="block text-sm font-medium text-gray-700">{{ form.title.label_tag }}</label> 
                    {{ form.title }}
                </div>
                <div>
                    {{ form.price.errors }} 
                    <label class="block text-sm font-medium text-gray-700">{{ form.price.label_tag }}</label> 
                    {{ form.price }}
                </div>
                <div>
                    {{ form.sale_price.errors }} 
                    <label class="block text-sm font-medium text-gray-700">{{ form.sale_price.label_tag }}</label> 
                    {{ form.sale_price }}
                </div>
                <div>
                    {{ form.discount_percentage.errors }} 
                    <label class="block text-sm font-medium text-gray-700">{{ form.discount_percentage.label_tag }}</label> 
                    {{ form.discount_percentage }}
                </div>
                <div>
                    {{ form.currency.errors }} 
                    <label class="block text-sm font-medium text-gray-700">{{ form.currency.label_tag }}</label> 
                    {{ form.currency }}
                </div>

                <!-- Ltc price -->
                <div>
                    {{ form.ltc_price.errors }}
                    <label class="block text-sm font-medium text-gray-700">{{ form.ltc_price.label_tag }}</label>
                    {{ form.ltc_price }}
                </div>

                <!-- Btc price -->
                <div>
                    {{ form.btc_price.errors }}
                    <label class="block text-sm font-medium text-gray-700">{{ form.btc_price.label_tag }}</label>
                    {{ form.btc_price }}
                </div>

                <!-- Eth price -->
                <div>
                    {{ form.eth_price.errors }}
                    <label class="block text-sm font-medium text-gray-700">{{ form.eth_price.label_tag }}</label>
                    {{ form.eth_price }}
                </div>

                <!-- Usdt price -->
                <div>
                    {{ form.usdt_price.errors }}
                    <label class="block text-sm font-medium text-gray-700">{{ form.usdt_price.label_tag }}</label>
                    {{ form.usdt_price }}
                </div>

                <!-- Sol price -->
                <div>
                    {{ form.sol_price.errors }}
                    <label class="block text-sm font-medium text-gray-700">{{ form.sol_price.label_tag }}</label>
                    {{ form.sol_price }}
                </div>

                <!-- Test price -->
                <div>
                    {{ form.test_price.errors }}
                    <label class="block text-sm font-medium text-gray-700">{{ form.test_price.label_tag }}</label>
                    {{ form.test_price }}
                </div>
                <div>
                    {{ form.description.errors }} 
                    <label class="block text-sm font-medium text-gray-700">{{ form.description.label_tag }}</label> 
                    {{ form.description }}
                </div>
                <div>
                    {{ form.product_content.errors }}
                    <label class="block text-sm font-medium text-gray-700">{{ form.product_content.label_tag }}</label>
                    {{ form.product_content }}
                </div>
            </div>
            <button type="submit" class="mt-8 w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 rounded-md shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
                Save Changes
            </button>
        </form>
    </div>
</div>
{% endblock content %}
